<div class="content-section introduction">
    <h1>
        firstTable 和 primeNg表格组件对比
    </h1>
</div>
<div class="box">
    <h3>primeNG 表格控件更注重操作外观，可操作性(可配性)，自定义等！ 注：单选后需要按住 ctrl + 选中行 才可取消选中 </h3>
    <br>
    <h3>firstTbale 表格控件更注重迭代更新。</h3>
    <br>
    <a class="demoHref" [href]="href" target="_blank">查看演示</a>
    <br>
    <br>
    <h3>如何支持开发人员？</h3>
    <hr>
    <ul>
        <li>可以关注我们的：<a class="demoHref" href="https://github.com/wangraoji/primeNgAndfirstTable" target="_blank">Github</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul>
</div>