<div class="content-section introduction">
    <div>
        暂时先放一些列表！
    </div>
</div>

<div class="box">
    <h3>
        组件库对应地址
    </h3>
    <hr>
    <table>
        <thead>
            <tr>
                <th>地址</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://192.168.2.247:9000" target="_blank">http://192.168.2.247:9000</a></td>
                <td> 本项目 </td>
            </tr>
            <tr>
                <td><a href="http://192.168.2.247:9200" target="_blank">http://192.168.2.247:9200</a></td>
                <td>ngx-first-table</td>
            </tr>
            <tr>
                <td><a href="http://192.168.2.247:9300" target="_blank">http://192.168.2.247:9300</a></td>
                <td>ngx-first-tree</td>
            </tr>
            <tr>
                <td><a href="http://192.168.2.247:4201" target="_blank">http://192.168.2.247:4201</a> </td>
                <td>primeng Ui 库</td>
            </tr>
            <tr>
                <td><a href="http://192.168.2.247:4202" target="_blank">http://192.168.2.247:4202</a> </td>
                <td>OliveUI</td>
            </tr>
        </tbody>
    </table>
</div>
<input type="text" onlyDate>

