<div class="content-section introduction">
    <div>
        暂时先放一些列表！
    </div>
</div>

<div class="box">
    <h3>
        组件库对应地址
    </h3>
    <hr>
    <table>
        <thead>
            <tr>
                <th>地址</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://192.168.2.247:9000" target="_blank">http://192.168.2.247:9000</a></td>
                <td> 本项目 </td>
            </tr>
            <tr>
                <td><a href="http://192.168.2.247:9200" target="_blank">http://192.168.2.247:9200</a></td>
                <td>ngx-first-table</td>
            </tr>
            <!-- <tr>
                <td>http://192.168.2.242:4202/ <br> http://192.168.2.242:4202/#/datatable</td>
                <td>primeng Ui 库 <br> primeng dataTable 组件库<span style="color:#0894af">(主用)</span></td>
            </tr> -->
            <!-- <tr>
                <td>http://192.168.2.242:4203/</td>
                <td>ngx-first-table 和 primeng-dataTable 组件库的一些对比</td>
            </tr> -->
            <!-- <tr>
                <td>http://192.168.2.242:4204/</td>
                <td>ngx-first-select</td>
            </tr> -->
            <tr>
                <td><a href="http://192.168.2.247:9300" target="_blank">http://192.168.2.247:9300</a></td>
                <td>ngx-first-tree</td>
            </tr>
        </tbody>
    </table>
</div>