table {
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-spacing: 0;
    margin-top: 10px;
    th,td {
        border-left: 1px solid #c0c0c0;
        border-top: 1px solid #c0c0c0;
        padding: 10px 15px;
    }
}