<div class="content-section introduction">
    <h1>
        ngx first Table 组件
    </h1>
</div>
<div class="box">
    <h3>demo</h3>
    <br>
    <a class="demoHref" href="http://192.168.2.247:9100" target="_blank">查看演示</a>
    <br>
    <br>
    <h3>已完成功能列表</h3>
    <ul>
        <li> 设置奇偶行颜色</li>
        <li> 查询，排序</li>
        <li> 0807 单击，双击，复选框勾选</li>
        <li> 0810 更新 tool 工具栏 功能</li>
        <li> 0811 在单击/双击/复选框的基础上添加 一个 单击/双击/多选 共存案例</li>
        <li> 0811 单击是否启用多选，默认关闭</li>
        <li> 0815 更新自定义当前点击背景色</li>
        <li> 0821 更新工具栏汇总是否显示，其中包括小计，总计</li>
        <li> 0822 更新自定义表头颜色</li>
        <li> 0828 更新自定义工具栏-设置（包含自定义行高，选中行拖动，选中行查看明细） </li>
        <li> 0904 更新表格-自定义列设置（包含列格式化） </li>
        <li> 0905 更新表格-自定义列编辑 </li>
        <li> 0929 更新表格-自定义列设置 （包含列隐藏） </li>
        <li> 0929 更新工具栏-表格列显示隐藏 </li>
        <li> 1012 更新工具栏-自定义设置-开启/关闭 编辑（双击单元格编辑） </li>
        <li> 1012 更新默认配置 双击编辑（双击单元格编辑），在没有工具栏的情况下可用该配置 </li>
        <li> 1012 逐页翻页 </li>
        <li> 1030 更新多选方式 可以按ctrl+单击进行多选 </li>
        <li> 1101 更新选中标记，可以在当前行显示一个图标，此显示是与被选中区分开的</li>
        <li> 1102 更新悬浮变色，前提条件是隔行换色是关闭状态 </li>
        <li> 1120 更新文档 columns（表头配置） 配置中的编辑行新增行呈现方式 </li>
        <li> 1122 更新下拉框联动（新增/编辑） </li>
        <li> 1124 更新新增一列Actions2自定义列，并发射事件</li>
    </ul>
    <h3>未完成功能列表</h3>
    <ul>
        <li>拖动或设置改变列宽（可锁定列宽）</li>
        <li>内嵌子表格</li>
        <li>内嵌tab表单</li>
        <li>支持设置列所在位置，及排在第几列</li>
        <li>支持将表格数据复制粘贴至Excel，也可以将Excel复制粘贴至表格</li>
        <li>支持根据表格原始的结构导出为Excel</li>
        <li>支持针对列进行行数、最大值、最小值、合计、平均值等汇总</li>
        <li>支持针对表格行进行上一行下一行移动</li>
        <li>拖动表格中的一列，可将其移动到某一列前或者后</li>
        <li>支持表格中设置数据相同行的对应字段合并</li>
        <li>表格设置按字段分组，并且能够按分布后的数据进行汇总，具体汇总方式请参考汇总</li>
        <li>支持表格类似于树形控件模式显示</li>
        <li>给一列数据设置格式</li>
        <li>支持在某列单元格中支持配置复杂界面的功能</li>
        <li>支持将列头两列合并为一列，两行列头合并为一行</li>
        <li>支持双列头</li>
        <li>支持针对表格当前页数据进行全选</li>
    </ul>
    <h3>进一步的文档</h3>
    <hr>
    <br>
    安装，定制等有用的文档：<a class="demoHref" href="http://192.168.2.247:9100/#/documentation" target="_blank">firstTable文档</a>
    <br>
    <br>
    <h3>如何支持开发人员？</h3>
    <hr>
    <ul>
        <li>可以关注我们的：<a class="demoHref" href="https://github.com/wangraoji/ngx-first-table" target="_blank">Github</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul>
</div>