<div class="content-section introduction">
    <h1>
        ngx first Tree 组件
    </h1>
</div>
<div class="box">
    <h3>demo</h3>
    <br>
    <a class="demoHref" href="http://192.168.2.247:9300" target="_blank">查看演示</a>
    <br>
    <br>
    <h3>已完成功能列表</h3>
    <ul>
        <li> 全部展开折叠</li>
        <li> 自定义图标</li>
        <li> 自定义选中背景色</li>
        <li> 单击/双击事件</li>
        <li> 右键事件（支持自定义配置，如：增删改查）</li>
    </ul>
    <h3>未完成功能列表</h3>
    <ul>
        <li>搜索</li>
    </ul>
    <h3>进一步的文档</h3>
    <hr>
    <br> 安装，定制等有用的文档：
    <a class="demoHref" href="http://192.168.2.247:9300/#/documentation" target="_blank">firstTree文档</a>
    <br>
    <br>
    <h3>如何支持开发人员？</h3>
    <hr>
    <ul>
        <li>可以关注我们的：<a class="demoHref" href="https://github.com/wangraoji/ng2-first-tree" target="_blank">Github</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul>
</div>