<div class="content-section introduction">
    <h1>
        primeNg （ui/控件 库）
    </h1>
</div>
<div class="box">
    <h3>
        这里我们主要看它表格组件，已汉化部分且解释不清的地方已加以标识，其他的没有汉化。<br> 
    </h3>
    <br>
    表格控件地址：<a class="demoHref" href="https://www.primefaces.org/primeng/#/table" target="_blank">传送门</a>
    <br>
    <br>
    表格树控件地址：<a class="demoHref" href="https://www.primefaces.org/primeng/#/treetable" target="_blank">传送门</a>
    <br>
    <br>
    自定义特定格式输入（验证）：<a class="demoHref" href="https://www.primefaces.org/primeng/#/inputmask" target="_blank">传送门</a>
    <br>
    <br>
    <h3>primeNG是什么？</h3>
    <hr>
    <br>
    <p>
        PrimeNG是Angular的丰富UI组件的集合。 所有小工具都是开源的，可以根据MIT许可免费使用。<br>
        PrimeNG由PrimeTek Informatics开发，PrimeTek Informatics是一家拥有多年开发开源UI解决方案经验的供应商。 <br>
        有关项目新闻和更新，请关注官网：
        <a class="demoHref" href="https://www.primefaces.org/primeng/#/" target="_blank">https://www.primefaces.org/primeng/#/</a>
    </p>
    <br>

    <br>
    <h3>如何支持开发人员？</h3>
    <hr>
    <ul>
        <li>可以关注我们的：<a class="demoHref" href="https://github.com/wangraoji/clonePrimengVersion" target="_blank">Github</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul>
</div>